
.header{
  .form {
  width:100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(232, 175, 250, 0.431);
  
  .input{
    margin-right: 10px;
    text-align: center;
    padding : 10px;
    }
  }

}

